<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/forms_style.css">
  <title>Not Allowed</title>
</head>
<body class="error-page">
  <h1>Forbidden 403</h1>
  <h2 style="color: white; text-align: center;">Sorry you are not allowed to see this page</h2>
  <h3><a style="text-align: center;" href="/">Go Home</a>  </h3>
  
</body>
</html>