<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Request</title>
</head>
<body>
  <form method="POST" action="/send_request">
    <select name="manufacturer" id="manufacturer">
      <option value="BMW">BMW</option>
      <option value="mercedes">mercedes</option>
    </select>

    <input type="text" name="model" id="model" required placeholder="car model (ex S500)">

    <input type="text" name="carNumber" id="carNumber" required placeholder="car number...">

    <div>
      <label for="diesel">Diesel</label>
      <input type="radio" name="type" id="diesel" value="diesel" checked><br>

      <label for="electrical">Electrical</label>
      <input type="radio" name="type" id="electrical" value="electrical"><br>

      <label for="hybrid">Hybrid</label>
      <input type="radio" name="tybe" id="hybrid" value="hybrid" >
      <br>
    </div>
    <input type="submit" value="Send Request">






    <textarea id="description" cols="70" rows="10" name="description" type="text"
                  placeholder="Describe what is wrong with your car..." required></textarea><br>

  </form>
  
</body>
</html>